.menu{
    height: 40px;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    text-align: center;
    
}

.faixa{
    margin-right: 100px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-self: center;
    margin: auto;
    text-align: center;
    

}
.card{
    margin: auto;
}